.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Figtree;
}
.display-1 {
  font-family: 'Figtree', sans-serif;
  font-size: 6.2rem;
  line-height: 100%;
  letter-spacing: -0.04em;
}
.display-1 > .mbr-iconfont {
  font-size: 7.75rem;
}
.display-2 {
  font-family: 'Figtree', sans-serif;
  font-size: 5.3rem;
  line-height: 100%;
  letter-spacing: -0.04em;
}
.display-2 > .mbr-iconfont {
  font-size: 6.625rem;
}
.display-4 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.2rem;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Figtree', sans-serif;
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: -0.03em;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.4rem;
  line-height: 125%;
  letter-spacing: -0.02em;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.96rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.34rem;
    font-size: calc( 2.82rem + (6.2 - 2.82) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.82rem + (6.2 - 2.82) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.24rem;
    font-size: calc( 2.505rem + (5.3 - 2.505) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.505rem + (5.3 - 2.505) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 50px;
}
.bg-primary {
  background-color: #333333 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #48e5c2 !important;
}
.bg-danger {
  background-color: #333333 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
  color: #062821 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #75ebd1 !important;
  border-color: #75ebd1 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #062821 !important;
  background-color: #75ebd1 !important;
  border-color: #75ebd1 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #333333;
  color: #333333;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #080808 !important;
  background-color: transparent !important;
  border-color: #080808 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #48e5c2;
  color: #48e5c2;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #1bbc98 !important;
  background-color: transparent !important;
  border-color: #1bbc98 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #062821 !important;
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #333333;
  color: #333333;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #080808 !important;
  background-color: transparent !important;
  border-color: #080808 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #333333 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #48e5c2 !important;
}
.text-danger {
  color: #333333 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #19ae8d !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #333333;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #48e5c2;
}
.alert-danger {
  background-color: #333333;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #333333;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a6a6a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fbfefe;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a6a6a6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Figtree', sans-serif;
  font-size: 1.4rem;
  line-height: 125%;
  letter-spacing: -0.02em;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #333333 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Figtree', sans-serif;
  font-size: 1.4rem;
  line-height: 125%;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #333333;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #333333;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #333333;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #333333 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23333333' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
img {
  border-radius: 20px !important;
}
@media (max-width: 992px) {
  .mbr-section-btn,
  .mbr-section-btn-main {
    padding: 0 10px;
  }
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 40px 70px;
  border-radius: 20px !important;
  margin: 10px;
  box-shadow: none;
  border: none;
  min-width: 450px;
}
@media (max-width: 992px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    padding: 20px;
    min-width: auto;
  }
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .mbr-section-btn .btn .mbr-iconfont,
  .mbr-section-btn-main .btn .mbr-iconfont {
    margin-left: 10px;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
  border: none;
}
.mbr-section-btn .btn:hover .mbr-iconfont,
.mbr-section-btn-main .btn:hover .mbr-iconfont,
.mbr-section-btn .btn:focus .mbr-iconfont,
.mbr-section-btn-main .btn:focus .mbr-iconfont {
  justify-content: flex-end;
  width: 120px;
  border-radius: 3rem;
}
@media (max-width: 768px) {
  .mbr-section-btn .btn:hover .mbr-iconfont,
  .mbr-section-btn-main .btn:hover .mbr-iconfont,
  .mbr-section-btn .btn:focus .mbr-iconfont,
  .mbr-section-btn-main .btn:focus .mbr-iconfont {
    width: 70px;
  }
}
.mbr-section-btn .btn-primary .mbr-iconfont,
.mbr-section-btn-main .btn-primary .mbr-iconfont {
  background-color: #ffffff !important;
}
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary {
  color: #333333 !important;
}
.mbr-section-btn .btn-secondary .mbr-iconfont,
.mbr-section-btn-main .btn-secondary .mbr-iconfont {
  color: #ffffff !important;
  background-color: #333333 !important;
}
.mbr-section-btn .btn-success .mbr-iconfont,
.mbr-section-btn-main .btn-success .mbr-iconfont {
  background-color: #ffffff !important;
}
.mbr-section-btn .btn-info .mbr-iconfont,
.mbr-section-btn-main .btn-info .mbr-iconfont {
  background-color: #333333 !important;
}
.mbr-section-btn .btn-warning .mbr-iconfont,
.mbr-section-btn-main .btn-warning .mbr-iconfont {
  color: #48e5c2 !important;
  background-color: #ffffff !important;
}
.mbr-section-btn .btn-danger .mbr-iconfont,
.mbr-section-btn-main .btn-danger .mbr-iconfont {
  color: #333333 !important;
  background-color: #ffffff !important;
}
.mbr-section-btn .btn-black .mbr-iconfont,
.mbr-section-btn-main .btn-black .mbr-iconfont {
  color: #000000 !important;
  background-color: #ffffff !important;
}
.mbr-section-btn .btn-white .mbr-iconfont,
.mbr-section-btn-main .btn-white .mbr-iconfont {
  color: #ffffff !important;
  background-color: #000000 !important;
}
.cid-u9WSKG1D5y {
  padding-top: 4rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
  background-color: #333333;
}
.cid-u9WSKG1D5y .row {
  align-items: center;
  justify-content: center;
}
.cid-u9WSKG1D5y .shape_left {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-color: #333333;
}
.cid-u9WSKG1D5y .shape_right {
  width: 25%;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #48e5c2;
}
.cid-u9WSKG1D5y .content_box {
  position: relative;
  z-index: 1;
}
.cid-u9WSKG1D5y .mbr-section-title {
  margin-bottom: 21px;
  color: #48e5c2;
}
.cid-u9WSKG1D5y .mbr-text {
  margin-bottom: 21px;
}
.cid-u9WSKG1D5y .image-wrapper,
.cid-u9WSKG1D5y img {
  width: 100%;
}
.cid-u9WSKG1D5y .image-wrapper {
  position: relative;
  z-index: 1;
}
@media (min-width: 991px) {
  .cid-u9WSKG1D5y .content_box {
    padding: 0 5rem 0 1rem;
  }
  .cid-u9WSKG1D5y .image_left {
    padding-top: 5rem;
  }
  .cid-u9WSKG1D5y .image_right {
    right: -2rem;
  }
}
@media (max-width: 767px) {
  .cid-u9WSKG1D5y .row {
    flex-direction: column;
  }
  .cid-u9WSKG1D5y .shape {
    display: none;
  }
  .cid-u9WSKG1D5y .content_box {
    padding: 2rem 0;
  }
}
.cid-u9WSKG1D5y .mbr-text,
.cid-u9WSKG1D5y .mbr-section-btn {
  color: #ffffff;
}
.cid-u9UXhXcjn1 {
  padding-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #333333;
}
.cid-u9UXhXcjn1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u9UXhXcjn1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .container {
    padding: 0 16px;
  }
}
.cid-u9UXhXcjn1 .row {
  position: relative;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .row {
    margin: 0 10px;
  }
}
.cid-u9UXhXcjn1 .row .card {
  position: relative;
  padding: 0;
}
.cid-u9UXhXcjn1 .row .card .decor-wrapper_1 {
  position: absolute;
  top: -25rem;
  left: -11rem;
  width: 3000px;
  height: 2000px;
  border: 40px solid #48e5c2;
  border-radius: 15rem;
  pointer-events: none;
  z-index: 1;
  left: auto;
  right: -11rem;
}
@media (max-width: 1300px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_1 {
    left: -8rem;
  }
}
@media (max-width: 1300px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_1 {
    right: -8rem;
    left: auto;
  }
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_1 {
    left: auto;
    right: -90px;
    border-radius: 18%;
  }
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_1 {
    right: -90px;
    border-radius: 18%;
  }
}
.cid-u9UXhXcjn1 .row .card .decor-wrapper_2 {
  position: absolute;
  top: 0;
  left: -11rem;
  width: 3000px;
  height: 2000px;
  border: 40px solid #48e5c2;
  border-radius: 14%;
  pointer-events: none;
  left: auto;
  right: -11rem;
}
@media (max-width: 1300px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_2 {
    left: -8rem;
  }
}
@media (max-width: 1300px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_2 {
    right: -8rem;
    left: auto;
  }
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_2 {
    left: auto;
    right: -90px;
    border-radius: 18%;
  }
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .row .card .decor-wrapper_2 {
    right: -90px;
    border-radius: 18%;
  }
}
.cid-u9UXhXcjn1 .title-wrapper {
  position: relative;
  z-index: 1;
  padding-left: 100px;
  width: 60%;
  margin: 0 auto;
  padding-top: 200px;
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .title-wrapper {
    padding-left: 0;
    width: 100%;
  }
}
.cid-u9UXhXcjn1 .title-wrapper .icon-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .title-wrapper .icon-wrapper {
    margin-bottom: 20px;
  }
}
.cid-u9UXhXcjn1 .title-wrapper .icon-wrapper .mbr-iconfont {
  width: 75px;
  height: 75px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #192227;
  background-color: #48e5c2;
  transform: rotate(45deg);
  border-radius: 100%;
}
.cid-u9UXhXcjn1 .title-wrapper .mbr-section-title {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-u9UXhXcjn1 .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-u9UXhXcjn1 .title-wrapper .mbr-text {
  margin: 0;
}
.cid-u9UXhXcjn1 .mbr-section-title {
  color: #fdfcfc;
}
.cid-u9UXhXcjn1 .mbr-text {
  color: #F9A600;
}
.cid-u9UXhXcjn1 .mbr-text,
.cid-u9UXhXcjn1 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-u9UXhXcjn1 .mbr-section-title,
.cid-u9UXhXcjn1 .icon-wrapper {
  color: #48e5c2;
  text-align: center;
}
.cid-tN0YRQkTJW {
  padding-top: 0rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #333333;
}
.cid-tN0YRQkTJW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tN0YRQkTJW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tN0YRQkTJW .container-fluid {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .container-fluid {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .container {
    padding: 0 16px;
  }
}
.cid-tN0YRQkTJW .row {
  position: relative;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .row {
    margin: 0 10px;
  }
}
.cid-tN0YRQkTJW .row .card {
  position: relative;
  padding: 0;
}
.cid-tN0YRQkTJW .row .card .decor-wrapper {
  position: absolute;
  top: 0;
  left: -11rem;
  width: 3000px;
  height: 2000px;
  border: 40px solid #48e5c2;
  border-radius: 15rem;
  pointer-events: none;
}
@media (max-width: 1300px) {
  .cid-tN0YRQkTJW .row .card .decor-wrapper {
    left: -8rem;
  }
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .row .card .decor-wrapper {
    right: -90px;
    border-radius: 18%;
  }
}
.cid-tN0YRQkTJW .row .card .icon-decor {
  position: absolute;
  top: 14rem;
  left: -13rem;
  width: 100px;
  height: 100px;
  font-size: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #fdfcfc;
  border-radius: 100%;
  border: 5px solid #48e5c2;
  z-index: 1;
}
@media (max-width: 1300px) {
  .cid-tN0YRQkTJW .row .card .icon-decor {
    left: -9.8rem;
  }
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .row .card .icon-decor {
    display: none;
  }
}
.cid-tN0YRQkTJW .title-wrapper {
  padding-top: 200px;
  position: relative;
  z-index: 1;
}
.cid-tN0YRQkTJW .title-wrapper .mbr-section-title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tN0YRQkTJW .items-wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .items-wrapper {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.cid-tN0YRQkTJW .items-wrapper .item {
  border-radius: 16px !important;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-content {
  padding: 40px 40px 100px;
}
@media (max-width: 992px) {
  .cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-content {
    padding: 20px 20px 30px;
  }
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-content .icon-wrapper {
  margin-bottom: 25px;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-content .icon-wrapper .mbr-iconfont {
  width: 46px;
  height: 46px;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #fdfcfc;
  border-radius: 50%;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-content .item-title {
  margin-bottom: 20px;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-content .mbr-text {
  margin-bottom: 0;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-img {
  padding-left: 60px;
}
.cid-tN0YRQkTJW .items-wrapper .item .item-wrapper .item-img img {
  height: 220px;
  object-fit: cover;
  border-radius: 0 !important;
  border-top-left-radius: 16px !important;
}
.cid-tN0YRQkTJW .mbr-section-title {
  color: #48e5c2;
}
.cid-tN0YRQkTJW .item-title {
  color: #192227;
}
.cid-tN0YRQkTJW .mbr-text {
  color: #192227;
  text-align: center;
}
.cid-tN0YRQkTJW .item-title,
.cid-tN0YRQkTJW .icon-wrapper {
  color: #48e5c2;
  text-align: center;
}
.cid-tN0YYfAY3a {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #333333;
  overflow: hidden;
}
.cid-tN0YYfAY3a .container-fluid {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .container-fluid {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .container {
    padding: 0 16px;
  }
}
.cid-tN0YYfAY3a .row {
  position: relative;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .row {
    margin: 0 10px;
  }
}
.cid-tN0YYfAY3a .row .card {
  position: relative;
  padding: 0;
}
.cid-tN0YYfAY3a .row .card .decor-wrapper {
  position: absolute;
  top: -25rem;
  left: -11rem;
  width: 3000px;
  height: 4000px;
  border: 40px solid #48e5c2;
  border-radius: 15rem;
  pointer-events: none;
}
@media (max-width: 1300px) {
  .cid-tN0YYfAY3a .row .card .decor-wrapper {
    left: -8rem;
  }
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .row .card .decor-wrapper {
    display: none;
  }
}
.cid-tN0YYfAY3a .row .card .icon-decor {
  position: absolute;
  top: 14rem;
  left: -13rem;
  width: 100px;
  height: 100px;
  font-size: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #fdfcfc;
  border-radius: 100%;
  border: 5px solid #48e5c2;
  z-index: 1;
}
@media (max-width: 1300px) {
  .cid-tN0YYfAY3a .row .card .icon-decor {
    left: -9.8rem;
  }
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .row .card .icon-decor {
    display: none;
  }
}
.cid-tN0YYfAY3a .title-wrapper {
  position: relative;
  z-index: 1;
}
.cid-tN0YYfAY3a .title-wrapper .mbr-section-title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tN0YYfAY3a .item:focus,
.cid-tN0YYfAY3a span:focus {
  outline: none;
}
.cid-tN0YYfAY3a .item-wrapper {
  position: relative;
}
.cid-tN0YYfAY3a .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 475px;
  max-width: 475px;
}
@media (max-width: 767px) {
  .cid-tN0YYfAY3a .embla__slide {
    min-width: 100%;
    max-width: 100%;
  }
}
.cid-tN0YYfAY3a .embla__slide .slide-content {
  border-radius: 16px !important;
  background-color: #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tN0YYfAY3a .embla__slide .slide-content {
    margin-right: 0;
  }
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-content {
  padding: 40px 40px 100px;
}
@media (max-width: 992px) {
  .cid-tN0YYfAY3a .embla__slide .slide-content .item-content {
    padding: 20px 20px 30px;
  }
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-content .icon-wrapper {
  margin-bottom: 25px;
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-content .icon-wrapper .mbr-iconfont {
  width: 46px;
  height: 46px;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #fdfcfc;
  border-radius: 50%;
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-content .item-title {
  margin-bottom: 20px;
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-content .mbr-text {
  margin-bottom: 0;
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-wrapper .item-img {
  padding-left: 60px;
}
.cid-tN0YYfAY3a .embla__slide .slide-content .item-wrapper .item-img img {
  height: 220px;
  object-fit: cover;
  border-radius: 0 !important;
  border-top-left-radius: 16px !important;
}
.cid-tN0YYfAY3a .embla__button--next,
.cid-tN0YYfAY3a .embla__button--prev {
  display: flex;
}
.cid-tN0YYfAY3a .embla__button {
  bottom: 0;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 30px;
  background-color: transparent !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  border-radius: 100%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
}
.cid-tN0YYfAY3a .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tN0YYfAY3a .embla__button:hover {
  color: #ffffff !important;
}
.cid-tN0YYfAY3a .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tN0YYfAY3a .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tN0YYfAY3a .embla {
  position: relative;
  width: 100%;
  padding-bottom: 5rem;
}
.cid-tN0YYfAY3a .embla__viewport {
  overflow: hidden;
  width: 100%;
  margin-right: 1rem;
}
.cid-tN0YYfAY3a .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tN0YYfAY3a .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tN0YYfAY3a .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tN0YYfAY3a .mbr-section-title {
  color: #48e5c2;
}
.cid-tN0YYfAY3a .item-title {
  color: #192227;
}
.cid-tN0YYfAY3a .mbr-text {
  color: #192227;
}
.cid-tN0YYfAY3a .item-title,
.cid-tN0YYfAY3a .icon-wrapper {
  color: #48e5c2;
  text-align: center;
}
.cid-tN0YYfAY3a .mbr-text,
.cid-tN0YYfAY3a .mbr-section-btn {
  text-align: center;
}
.cid-tN0Z28w70R {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #333333;
}
.cid-tN0Z28w70R .mbr-fallback-image.disabled {
  display: none;
}
.cid-tN0Z28w70R .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tN0Z28w70R .container-fluid {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .container-fluid {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .container {
    padding: 0 16px;
  }
}
.cid-tN0Z28w70R .row {
  position: relative;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .row {
    margin: 0 10px;
  }
}
.cid-tN0Z28w70R .row .card {
  position: relative;
  padding: 0;
}
.cid-tN0Z28w70R .row .card .decor-wrapper {
  position: absolute;
  top: -23rem;
  left: -11rem;
  width: 2000px;
  height: 500px;
  border-left: 40px solid #48e5c2;
  border-radius: 0;
  pointer-events: none;
}
@media (max-width: 1300px) {
  .cid-tN0Z28w70R .row .card .decor-wrapper {
    left: -8rem;
  }
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .row .card .decor-wrapper {
    display: none;
  }
}
.cid-tN0Z28w70R .row .card .icon-decor {
  position: absolute;
  top: 3rem;
  left: -13rem;
  width: 100px;
  height: 100px;
  font-size: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #fdfcfc;
  border-radius: 100%;
  border: 5px solid #48e5c2;
  z-index: 1;
}
@media (max-width: 1300px) {
  .cid-tN0Z28w70R .row .card .icon-decor {
    left: -9.8rem;
  }
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .row .card .icon-decor {
    display: none;
  }
}
.cid-tN0Z28w70R .title-wrapper {
  position: relative;
  z-index: 1;
  width: 65%;
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .title-wrapper {
    width: 100%;
  }
}
.cid-tN0Z28w70R .title-wrapper .mbr-section-title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-tN0Z28w70R .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tN0Z28w70R .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tN0Z28w70R .mbr-section-title {
  color: #48e5c2;
}
.cid-tN0Z28w70R .mbr-text {
  color: #fdfcfc;
}
.cid-u9WpJjex8E {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #333333;
}
.cid-u9WpJjex8E .mbr-iconfont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background-color: #48e5c2;
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.cid-u9WpJjex8E .card {
  margin-bottom: 1.5rem;
}
.cid-u9WpJjex8E .card-wrapper {
  padding: 3rem 2.5rem;
  background-color: #ffffff;
  border-width: 0 0 4px 0;
  border-style: solid;
}
.cid-u9WpJjex8E .card-wrapper-1 {
  border-color: #48e5c2;
}
.cid-u9WpJjex8E .card-wrapper-2 {
  border-color: #48e5c2;
}
.cid-u9WpJjex8E .card-wrapper-3 {
  border-color: #bcd9df;
}
.cid-u9WpJjex8E .card-wrapper-4 {
  border-color: #67beb0;
}
.cid-u9WpJjex8E .card-title {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.cid-u9WpJjex8E .card-text {
  color: #333333;
  text-align: left;
}
.cid-u9WpJjex8E .card-title,
.cid-u9WpJjex8E .icon-wrap {
  color: #000000;
  text-align: left;
}
.cid-u9WpJjex8E .mbr-section-title {
  text-align: center;
  color: #48e5c2;
}
.cid-u9WpJjex8E .card-subtitle {
  text-align: left;
  color: #333333;
}
.cid-u9WpJjex8E .mbr-fallback-image.disabled {
  display: none;
}
.cid-u9WpJjex8E .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u9WpJjex8E .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-tN0YXrmsUh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #333333;
}
.cid-tN0YXrmsUh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tN0YXrmsUh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .container {
    padding: 0 16px;
  }
}
.cid-tN0YXrmsUh .row {
  justify-content: center;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .row {
    margin: 0 10px;
  }
}
.cid-tN0YXrmsUh .row .card {
  padding: 0;
}
.cid-tN0YXrmsUh .row .card:first-child {
  padding-right: 10px;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .row .card:first-child {
    padding: 0;
  }
}
.cid-tN0YXrmsUh .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #48e5c2;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .title-wrapper {
    height: auto;
    margin-bottom: 10px;
  }
}
.cid-tN0YXrmsUh .title-wrapper .title-wrap {
  padding: 30px 30px 70px;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .title-wrapper .title-wrap {
    padding: 20px 20px 30px;
  }
}
.cid-tN0YXrmsUh .title-wrapper .title-wrap .icon-wrapper {
  margin-bottom: 20px;
}
.cid-tN0YXrmsUh .title-wrapper .title-wrap .icon-wrapper .mbr-iconfont {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #333333;
  color: #48e5c2;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.cid-tN0YXrmsUh .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-tN0YXrmsUh .title-wrapper .mbr-copy {
  padding: 30px;
  margin-bottom: 0;
  border-top: 1px solid #48e5c2;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .title-wrapper .mbr-copy {
    padding: 20px;
  }
}
.cid-tN0YXrmsUh .list-wrapper {
  border: 1px solid #fdfcfc;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.cid-tN0YXrmsUh .list-wrapper .item {
  border-bottom: 1px solid #4a5357;
}
.cid-tN0YXrmsUh .list-wrapper .item:last-child {
  border: none;
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper {
  border-radius: 0 !important;
  overflow: hidden;
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a {
  display: block;
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a:hover .card-box,
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a:hover .card-box {
  background-color: #48e5c2;
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a:hover .card-box .card-title,
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a:hover .card-box .card-title {
  color: #333333;
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a:hover .card-box .mbr-iconfont,
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a:hover .card-box .mbr-iconfont {
  color: #333333;
  transform: rotate(-45deg);
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a .card-box {
  padding: 22px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a .card-box {
    padding: 15px 20px;
  }
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a .card-box .card-title {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.cid-tN0YXrmsUh .list-wrapper .item .item-wrapper a .card-box .mbr-iconfont {
  font-size: 18px;
  color: #fdfcfc;
  transition: all 0.3s ease-in-out;
}
.cid-tN0YXrmsUh .item-menu-overlay .btn-wrapper {
  margin-top: 0;
}
.cid-tN0YXrmsUh .mbr-section-title {
  color: #192227;
}
.cid-tN0YXrmsUh .mbr-copy {
  color: #192227;
  text-align: center;
}
.cid-tN0YXrmsUh .card-title {
  color: #fdfcfc;
}
.cid-tN0YXrmsUh .mbr-section-title,
.cid-tN0YXrmsUh .icon-wrapper {
  text-align: center;
}
.cid-u9VhG3TvhJ {
  z-index: 1000;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-u9VhG3TvhJ {
    flex-wrap: wrap;
  }
  .cid-u9VhG3TvhJ .navbar > .container {
    flex-wrap: nowrap;
  }
}
@media (max-width: 992px) {
  .cid-u9VhG3TvhJ .opened .container {
    flex-wrap: wrap;
  }
}
.cid-u9VhG3TvhJ .opened .container .navbar-collapse {
  width: 100%;
}
.cid-u9VhG3TvhJ .btn {
  padding: 0.3rem 2rem;
}
.cid-u9VhG3TvhJ .nav-link {
  position: relative;
}
.cid-u9VhG3TvhJ .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  transition: all 0.3s;
  background: #333333;
}
.cid-u9VhG3TvhJ .nav-link:hover:before {
  width: 100%;
}
.cid-u9VhG3TvhJ nav.navbar {
  position: fixed;
}
.cid-u9VhG3TvhJ .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u9VhG3TvhJ .dropdown-menu {
  padding: 0;
  border-radius: 0px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-u9VhG3TvhJ .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-u9VhG3TvhJ .dropdown-item:hover,
.cid-u9VhG3TvhJ .dropdown-item:focus {
  background: #333333 !important;
  color: white !important;
}
.cid-u9VhG3TvhJ .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-u9VhG3TvhJ .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-u9VhG3TvhJ .nav-dropdown .link {
  padding: 0 !important;
  margin: 0.667em 1em !important;
}
.cid-u9VhG3TvhJ .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-u9VhG3TvhJ .container {
  display: flex;
  margin: auto;
}
.cid-u9VhG3TvhJ .iconfont-wrapper {
  color: #48e5c2 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u9VhG3TvhJ .dropdown-menu,
.cid-u9VhG3TvhJ .navbar.opened {
  background: #333333 !important;
}
.cid-u9VhG3TvhJ .nav-item:focus,
.cid-u9VhG3TvhJ .nav-link:focus {
  outline: none;
}
.cid-u9VhG3TvhJ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u9VhG3TvhJ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u9VhG3TvhJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u9VhG3TvhJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u9VhG3TvhJ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u9VhG3TvhJ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u9VhG3TvhJ .navbar-short {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #333333 !important;
  transition: all 0.3s;
}
.cid-u9VhG3TvhJ .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(51, 51, 51, 0);
}
.cid-u9VhG3TvhJ .navbar.opened {
  transition: all 0.3s;
}
.cid-u9VhG3TvhJ .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u9VhG3TvhJ .navbar .navbar-logo img {
  width: auto;
}
.cid-u9VhG3TvhJ .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  flex-basis: auto!important;
}
.cid-u9VhG3TvhJ .navbar.collapsed {
  justify-content: center;
}
.cid-u9VhG3TvhJ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u9VhG3TvhJ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u9VhG3TvhJ .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.1rem);
  }
}
.cid-u9VhG3TvhJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u9VhG3TvhJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u9VhG3TvhJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u9VhG3TvhJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u9VhG3TvhJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u9VhG3TvhJ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-u9VhG3TvhJ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u9VhG3TvhJ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u9VhG3TvhJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u9VhG3TvhJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u9VhG3TvhJ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u9VhG3TvhJ .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-u9VhG3TvhJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-u9VhG3TvhJ .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u9VhG3TvhJ .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-u9VhG3TvhJ .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u9VhG3TvhJ .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u9VhG3TvhJ .navbar.navbar-short {
  min-height: 60px;
}
.cid-u9VhG3TvhJ .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-u9VhG3TvhJ .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-u9VhG3TvhJ .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u9VhG3TvhJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u9VhG3TvhJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u9VhG3TvhJ .dropdown-item.active,
.cid-u9VhG3TvhJ .dropdown-item:active {
  background-color: transparent;
}
.cid-u9VhG3TvhJ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u9VhG3TvhJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u9VhG3TvhJ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u9VhG3TvhJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #333333;
}
.cid-u9VhG3TvhJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-u9VhG3TvhJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u9VhG3TvhJ ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u9VhG3TvhJ .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-u9VhG3TvhJ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u9VhG3TvhJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #48e5c2;
}
.cid-u9VhG3TvhJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u9VhG3TvhJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u9VhG3TvhJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u9VhG3TvhJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u9VhG3TvhJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u9VhG3TvhJ nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u9VhG3TvhJ nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u9VhG3TvhJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u9VhG3TvhJ .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-u9VhG3TvhJ a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u9VhG3TvhJ .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u9VhG3TvhJ .navbar {
    height: 70px;
  }
  .cid-u9VhG3TvhJ .navbar.opened {
    height: auto;
  }
  .cid-u9VhG3TvhJ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
